<ion-header>
  <ion-navbar  color="primary">
    <ion-title>Meu Perfil</ion-title>
    <ion-buttons end>
      <button color="danger" ion-button block (click)="logout()">
        <ion-icon class="toolbar-icon" name="log-out"></ion-icon></button>    
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-thumbnail item-start *ngIf="fotoPerfil">
          <img src="{{ facebook.fotoUrl }}">
        </ion-thumbnail>
        
        <ion-thumbnail item-start *ngIf="!fotoPerfil">
          <img src="assets/imgs/foto-perfil.jpg">
        </ion-thumbnail>
        
          <h2 *ngIf="fotoPerfil">{{ facebook.nome }}</h2>
          <h2 *ngIf="!fotoPerfil">Nutri Brasil</h2>
    
        <p>{{ email }}</p>
      </ion-item>
          
</ion-content>
